<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <connectionStrings>
      <add name="Psych"
          connectionString = "Provider=Microsoft.JET.OLEDB.4.0; Data Source=PsychJessica.mdb"/>
  </connectionStrings>
</configuration>
